In [3]:
# Import Pandas
import pandas as pd
# Import Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
# Import train_test_split function
from sklearn.model_selection import train_test_split

In [4]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
# load dataset
pima = pd.read_csv('diabetes.csv', header = 0, names = col_names)

In [5]:
pima.head()

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [6]:
#split dataset in features and target variable
feature_cols = ['pregnant', 'insulin', 'bmi', 'age','glucose','bp','pedigree']
# Features
X = pima[feature_cols]
# Target variable
y = pima.label

In [7]:
# Split dataset into training set and test set
# 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [8]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [9]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

     Actual  Predicted
49        0          0
238       1          1
58        0          1
278       0          0
739       1          1
..      ...        ...
328       1          1
663       1          0
152       1          0
333       0          0
579       1          1

[231 rows x 2 columns]

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test , y_pred)

0.7142857142857143